.nav {
  display: flex;
  position: fixed;
  justify-content: space-around;
  align-items: center;
  background: rgba(0, 0, 0, 0);
  width: 100%;
  height: 50px;
  z-index: 2;
}
.nav__shadow {
  width: 500px;
  height: 0px;
  background: rgba(0, 0, 0, 0);
  border-top: 50px solid rgba(0, 0, 0, 0.8470588235);
  border-right: 50px solid transparent;
  border-left: 50px solid transparent;
}
.nav__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  width: 500px;
  height: 50px;
}
.nav__link {
  transition: 0.3s;
  font-size: 16px;
  font-weight: bold;
  color: #d3d3d3;
  text-decoration: none;
  text-transform: uppercase;
}
.nav__link:hover {
  color: #ffffff;
  text-shadow: 0px 0px 4px #ffffff;
}

.header {
  overflow: hidden;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  background-image: url("../img/background.jpg");
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  z-index: -1;
}
.header .images {
  width: 40%;
  height: 100vh;
}
.header .images__box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 100px;
}
.header .images__bg {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-image: url("../img/img4.png");
  background-position: center center;
  background-attachment: local;
  background-size: contain;
  background-repeat: no-repeat;
  animation: animationimg 10s infinite;
}
.header .titles {
  width: 60%;
  height: 100vh;
  color: #f8f8ff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 5%;
  z-index: 1;
}
.header .titles__h1 {
  transition: 1s;
  animation: multicolors 5s infinite;
}
.header .titles__h2 {
  font-size: 64px;
  text-shadow: 0px 0px 7px #ffffff;
  margin: 0;
  text-transform: uppercase;
  position: relative;
  align-items: center;
  color: #ffffff;
}
@keyframes multicolors {
  0% {
    color: #f8f8ff;
  }
  50% {
    color: #6940e5;
    text-shadow: 0px 0px 4px #6940e5;
  }
  100% {
    color: #f8f8ff;
  }
}
@keyframes animationimg {
  20% {
    background-image: url("../img/img4.png");
  }
  21% {
    background-image: url("../img/img401.png");
  }
  22%, 87% {
    background-image: url("../img/img404.png");
  }
  88% {
    background-image: url("../img/img401.png");
  }
  89% {
    background-image: url("../img/img4.png");
  }
}
.main {
  width: 100%;
}

.proyect {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: #fafafa;
}

.boxproyect {
  position: relative;
  position: center;
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-column-gap: 40px;
  grid-row-gap: 40px;
}
.boxproyect__h3 {
  position: absolute;
  left: -200px;
  top: 300px;
  font-size: 32px;
  text-transform: uppercase;
  transform: rotate(-90deg);
}

.cardsection {
  width: 500px;
  height: 300px;
}
.cardsection:hover .carditem {
  transform: rotatey(180deg);
}

.carditem {
  border-radius: 10px;
  box-shadow: 0px 0px 10px #000000;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.carditem__front, .carditem__back {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}
.carditem__front {
  overflow: hidden;
  box-sizing: border-box;
  background-color: #212121;
  color: #f8f8ff;
}
.carditem__back {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  background-color: #212121;
  color: #f8f8ff;
  transform: rotateY(180deg);
}
.carditem__title {
  font-size: 20px;
  margin: 10px;
}
.carditem__text {
  text-align: center;
  margin: 10px 40px 40px 40px;
}
.carditem__img {
  left: 0px;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.carditem__link {
  background-color: #353535;
  color: #ffffff;
  text-decoration: none;
  padding: 10px;
}
.carditem__link:hover {
  text-shadow: 0px 0px 1px #ffffff;
  background-color: #4d4d4d;
}

.outline {
  width: 100%;
}

.profile {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../img/habilidades-fondo.jpg);
  background-attachment: fixed;
  background-size: cover;
}

.boxprofile {
  color: #f8f8ff;
  border-radius: 10px;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0);
  backdrop-filter: blur(8px);
  width: 1000px;
  height: 300px;
}
.boxprofile__img {
  width: 300px;
  height: 300px;
  float: left;
  object-fit: cover;
  border-radius: 50%;
  margin: 0px 40px 0px 0px;
  transition: 1s;
  line-height: 0px;
}
.boxprofile__text {
  font-size: 16px;
}
.boxprofile__title {
  font-size: 32px;
  margin: 5px;
}
.boxprofile__subtitle {
  font-size: 22px;
  margin: 0px;
  text-transform: uppercase;
}
.boxprofile__link {
  text-decoration: none;
  color: #aaaaaa;
  background-color: #181818;
  padding: 10px;
  border-radius: 5px;
  transition: 0.5s;
}
.boxprofile__link:hover {
  color: #ffffff;
  text-shadow: 0px 0px 4px #ffffff;
}

.skillsection {
  background-color: #fafafa;
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
}
.skillsection .boxtitle {
  position: absolute;
  left: -200px;
  top: 200px;
  transform: rotate(-90deg);
}
.skillsection .boxtitle .boxtitle__h3 {
  text-transform: uppercase;
  font-size: 32px;
}
.skillsection .boxskill {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  align-items: center;
  justify-items: center;
  width: 1000px;
  height: 100%;
}
.skillsection .skill {
  background-color: #ffffff;
  margin: 20px;
  border: 1px solid #000000;
  padding: 20px;
  box-shadow: inset 0px 0px 20px #000000;
  border-radius: 10px;
  transition: 0.3s;
}
.skillsection .skill:hover {
  transition: 0.3s;
  transform: scale(1.1);
  box-shadow: 0px 0px 7px #000000;
}
.skillsection .skill__img {
  width: 200px;
  height: 200px;
}

.contact {
  background-color: #eeeeee;
  padding: 100px 15px;
}
.contact__h3 {
  text-transform: uppercase;
  font-size: 22px;
  text-align: center;
  margin-bottom: 20px;
}
.contact__form {
  max-width: 1100px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact__row {
  display: flex;
  margin: auto;
  width: 100%;
}
.contact__input {
  font-size: 14px;
  margin: 15px;
  padding: 20px;
  border-radius: 5px;
  width: 100%;
  border: none;
}
.contact__input--textarea {
  height: 200px;
  resize: none;
}
.contact__button {
  font-weight: bold;
  background-color: #181818;
  color: #aaaaaa;
  transition: 0.5s;
  border: none;
  border-radius: 5px;
  margin: 15px;
  padding: 20px;
  width: 150px;
}
.contact__button:hover {
  color: #ffffff;
  text-shadow: 0px 0px 10px #ffffff;
}
.contact__warning {
  color: #f14c4c;
  font-weight: bold;
}
.contact__passed {
  color: #00aa25;
  font-weight: bold;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: #181818;
  color: #f8f8ff;
}
.footer__section1, .footer__section2, .footer__section3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  width: 33%;
}
.footer__section1 {
  margin: 0;
}
.footer__section1 p {
  margin: 0;
}
.footer__section1 a {
  text-decoration: none;
  color: #f8f8ff;
}
.footer__section2 p {
  text-transform: uppercase;
  margin: 2px;
}
.footer .social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.footer .social__link {
  margin: 30px;
  color: #f8f8ff;
}
.footer .social__link i {
  font-size: 50px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}/*# sourceMappingURL=style.css.map */