@use 'color'

.header
    overflow: hidden
    height: 100vh
    display: flex
    justify-content: space-between
    align-items: center
    .front
    background-color: color.$black
    background-image: url("../img/background.jpg") 
    background-position: center center
    background-attachment: fixed
    background-size: cover
    z-index: -1
    .images
        width: 40%
        height: 100vh
        &__box
            position: relative
            display: flex
            justify-content: center
            align-items: center
            width: 100%
            height: 100vh
            padding: 100px
        &__bg
            position: absolute
            width: 100%
            height: 100vh
            background-image: url("../img/img4.png")
            background-position: center center
            background-attachment: local
            background-size: contain
            background-repeat: no-repeat
            animation: animationimg 10s infinite


    .titles
        width: 60%
        height: 100vh
        color: color.$text
        display: flex
        justify-content: center
        flex-direction: column
        padding-left: 5%
        z-index: 1
        &__h1
            transition: 1s
            animation: multicolors 5s infinite
        &__h2
            font-size: 64px
            text-shadow: 0px 0px 7px color.$white
            margin: 0
            text-transform: uppercase
            position: relative
            align-items: center
            color: color.$white
        &__span
            
@keyframes multicolors
    0%
        color: color.$text
    50%
        color: color.$important
        text-shadow: 0px 0px 4px color.$important
    100%
        color: color.$text
        

@keyframes animationimg
    20%
        background-image: url("../img/img4.png")  
    21%
        background-image: url("../img/img401.png")
    22%,87%
        background-image: url("../img/img404.png")
    88%
        background-image: url("../img/img401.png")
    89%
        background-image: url("../img/img4.png")
